
<div class="row topRow">
  <div class="col-12 mainBar">
    <div class="row mainInfo">
      <div class="col-6 topPadding">

          <img class="userPhoto responsive-img" src="../images/twotone_account_circle_black_48dp.png" alt="user">

          <h3 class="flow-text employeeName">Welcome {{user.name}}! </h3>
          
      </div>
      <div class="manager-buttons">
        <div class="col-6 taskBtn">
          <a class="waves-effect waves-light btn-large modal-trigger" href="#modal3"><i
          class="material-icons left">add</i>New Task</a>
        </div>
        <!--Addin new user-->
        <div class="col-6 registerBtn">
          <a class="waves-effect waves-light btn-large modal-trigger" href="#modal4"><i
          class="material-icons left">add</i><p>New- User</p></a> 
        </div>
      </div> 
    </div>
  </div>
</div>
<!--code for adding a new task-->
  <div id="modal3" class="modal">
    <div class="modal-content">
      <div class="input-field col s12 container">
        <select multiple id="employee">
          <!-- passes through all employees object to render the options-->
          {{#each employeeTasks as |employee|}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
        <label>Employee</label>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s10 container">
              <label for="assign-task">Textarea</label>
              <textarea id="assign-task" class="materialize-textarea">Add Task...</textarea>
              <label for="assign-task-description">Textarea</label>
              <textarea id="assign-task-description" class="materialize-textarea">Add task details...</textarea>
              
            </div>
            <label for="due-date">Due date:</label>
              <input type="text" class="datepicker" id="due-date">
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat" id="add-button">Add</a>
    </div>
  </div>
<!--Code for adding a new employee-->
  <div id="modal4" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s10 container">
              <label for="name-signup">Name: </label>
              <textarea id="name-signup" class="materialize-textarea" placeholder="Employee Name..."></textarea>
            </div>
            <div class="input-field col s10 container">
              <label for="email-signup">Email: </label>
              <textarea id="email-signup" class="materialize-textarea" placeholder="Enter Email..."></textarea>
            </div>
            <div class="input-field col s10 container">
              <label for="password-signup">Password: </label>
              <textarea id="password-signup" class="materialize-textarea" placeholder="Create Password..."></textarea>
            </div>
            <div class="input-field col s10 container">
              <label for="role-signup">Employee-Role: </label>
              <textarea id="role-signup" class="materialize-textarea" placeholder="Add Employee Role..."></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat" id="add-user">Add</a>
    </div>
  </div>
  <div class="borderBar"></div>
{{!-- Shows employee and their coresponding task --}}
<div class="row">
        {{#each employeeTasks as |worker|}}
          
                <div class="col s12 m6 l3">
                  <div class="card hoverable">
                    <h5>{{name}}</h5>
                    <div class="card-image">
                      <img src="../images/twotone_account_circle_black_48dp.png">
                      
                    </div>
                    <div class="card-content">
                      <h5>Role: {{role}}</h6>
                      <h5>Tasks:</h5>
                      {{#each tasks as |task|}}
                      {{#if task_status}}
                      <p class="completed">{{title}}</p>
                      <p class="completed">{{format_date due_date}}</p>
                      {{else}}
                      <p class={{task_is_due due_date}}>{{title}}</p>
                      <p class={{task_is_due due_date}}>{{format_date due_date}}</p>
                        
                      {{/if}}
                      
                      <!--<p>{{date_created}}</p>-->
                      {{/each}}
                    </div>
                  </div>
              </div>
         
        {{/each}}
  </div>

  <script src="../js/createTask.js"></script>
  <script src="../js/registerEmployee.js"></script>

  <script>  document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems, {
        format:"yyyy-mm-dd",
        });
    });
  </script>



