<div class="row topRow">
  <div class="col-12 mainBar">
    <div class="row mainInfo">
      <div class="col-6 topPadding">
        <img
          class="userPhoto responsive-img"
          src="../images/twotone_account_circle_black_48dp.png"
          alt="user"
        />
        <h3 class="flow-text employeeName">Welcome {{user.name}}! </h3>
      </div>
      <div class="manager-buttons">
        <div class="col-6 taskBtn">
          <a
            class="waves-effect waves-light btn-large modal-trigger"
            href="#modal3"
          ><i class="material-icons left">add</i><p>New- Task</p></a>
        </div>
        <!--Addin new user-->
        <div class="col-6 registerBtn">
          <a
            class="waves-effect waves-light btn-large modal-trigger"
            href="#modal4"
          ><i class="material-icons left">add</i><p>New- User</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--code for adding a new task-->
<div id="modal3" class="modal">
  <div class="modal-content">
    <div class="input-field col s12 container">
      <select multiple id="employee">
        <!-- passes through all employees object to render the options-->
        {{#each employeeTasks as |employee|}}
          <option value="{{id}}">{{name}}</option>

          {{/each}}
        </select>
        <label>Employee</label>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s10 container">
              
              <textarea id="assign-task" class="materialize-textarea" placeholder="Add Task..."></textarea>
              
              <textarea id="assign-task-description" class="materialize-textarea" placeholder="Add task details..."></textarea>
              
            </div>
              
              <input type="text" class="datepicker" id="due-date" placeholder="Click to select due date">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat" id="add-button">Add</a>

    </div>
    </div>
    
  </div>
  <div class="modal-footer">
    <a
      href=""
      class="modal-close waves-effect waves-green btn-flat"
      id="add-button"
    >Add</a>
  </div>
</div>
<!--Code for adding a new employee-->
<div id="modal4" class="modal">
  <div class="modal-content">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s10 container">
            <label for="name-signup">Name: </label>
            <textarea
              id="name-signup"
              class="materialize-textarea"
              placeholder="Employee Name..."
            ></textarea>
          </div>
          <div class="input-field col s10 container">
            <label for="email-signup">Email: </label>
            <textarea
              id="email-signup"
              class="materialize-textarea"
              placeholder="Enter Email..."
            ></textarea>
          </div>
          <div class="input-field col s10 container">
            <label for="password-signup">Password: </label>
            <textarea
              id="password-signup"
              class="materialize-textarea"
              placeholder="Create Password..."
            ></textarea>
          </div>
          <div class="input-field col s10 container">
            <label for="role-signup">Employee-Role: </label>
            <textarea
              id="role-signup"
              class="materialize-textarea"
              placeholder="Add Employee Role..."
            ></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a
      href=""
      class="modal-close waves-effect waves-green btn-flat"
      id="add-user"
    >Add</a>
  </div>
</div>

{{! CHARTS }}
<div class="row">
  <div class="col s12"></div>
  <div class="col s4">
    {{#each employeeTasks as |worker|}}

      <ul class="collection">
        <div class="employee-names">
          <h5>{{name}}</h5>
          <h6><i>{{role}}</i></h6>
        </div>
        <li class="collection-item avatar">
          <i class="material-icons circle md-36">assignment</i>
          <span class="titleWorker"></span>
          {{#each tasks as |task|}}
            {{#if task_status}}
              <div class="task-names">
                <p class="completed"><i>{{title}}</i></p>
                <p class="completed"><i>{{format_date due_date}}</i></p>
              </div>
            {{else}}
              <div class="task-names">
                <p class={{task_is_due due_date}}><i>{{title}}</i></p>
                <p class={{task_is_due due_date}}><i>{{format_date
                      due_date
                    }}</i></p>
              </div>
            {{/if}}

          {{/each}}

        </li>
      </ul>

    {{/each}}

  </div>

  {{! Chrats }}
  <div class="col s8"><canvas id="myChart" height="150"></canvas>
    <div id="data1">

    </div></div>

</div>

{{! chart }}

<script src="../js/createTask.js"></script>
<script src="../js/registerEmployee.js"></script>
<script src="./js/chart-manager.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() { var elems =
  document.querySelectorAll('.datepicker'); var instances =
  M.Datepicker.init(elems, { format:"yyyy-mm-dd", }); });
</script>