


{{#if user.manager}}
     <div class="row">
    <div class="col s12 blue mainBar">
      <div class="row mainInfo">
        <div class="col-6 topPadding">
          <img class="userPhoto responsive-img" src="public\images\twotone_account_circle_black_48dp.png" alt="user">
          <h3 class="flow-text employeeName">{{user.name}} {{user.role}} {{user.manager}}</h3>
      </div>
      <div class="col-6 taskBtn">
        <a class="waves-effect waves-light btn-large modal-trigger" href="#modal3"><i
          class="material-icons left">add</i>New Task</a>
    </div>
      </div>
    </div>
  </div>
{{/if}}
  <div id="modal3" class="modal">
    <div class="modal-content">
      <div class="input-field col s12 container">
        <select multiple>
          <option value="1">Employee 1</option>
          <option value="2">Employee 2</option>
          <option value="3">Employee 3</option>
        </select>
        <label>Employee</label>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s10 container">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Textarea</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Add</a>
    </div>
  </div>

  {{#each employeeTasks as |worker|}}
    <div class="row">
          <div class="col s12 m6 l3">
            <div class="card card">
              {{name}}
              <div class="card-image">
                <img src="public\images\twotone_account_circle_black_48dp.png">
                
              </div>
              <div class="card-content">
                
                {{#each tasks as |task|}}
                <p>{{title}}</p>
                {{/each}}
              </div>
            </div>
          </div>
  {{/each}}



{{#if user.manager}}

<div class="row">
    <div class="col s12 blue mainBar ">
        <div class="row mainInfo">
            <div class="col-3">
 handlebarsUpdate
                <img class="mainInfo" src="public\images\twotone_account_circle_black_48dp.png" alt="role">
                <h3 class="container">{{role.name}}</h3>

            </div>
            <div class="col-9 container valign-wrapper">
                <h3>Please complete tasks below</h3>
            </div>
        </div>
    </div>
</div>


{{#each tasks as |task|}}


  <div class="row">
    <div class="col s12 m6 l3">
      <div class="taskContainer">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card">
              <div class="card-image">
                <img class="img-responsive" src="public\images\outline_handyman_black_36dp.png">
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                {{task}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
</div>
{{/each}}
{{/if}}